Package: ntpserver
Version: 1.0
Architecture: all
Depends: ntp, ntpdate
Pre-Depends: 
Recommends: 
Maintainer: Bayram Karahan [bayramk@gmail.com]
Conflicts: 
Replaces: 
Provides: ntpserver
Description: ntpserver eklentisi
